<%- include('userheader') %>
<!-- User Account Section Begin -->
<section class="user-account spad">
  <div class="container-fluid">
    <div class="row">
      <!-- Sidebar -->
      <div class="col-lg-3 col-md-4">
        <div class="account-sidebar text-center">
          <div class="sidebar-header">
            <h4>User Account</h4>
          </div>
          <ul class="account-menu">
            <li><a href="/useraccount">Account Details</a></li>
            <li><a href="/useraddress">Addresses</a></li>
            <li><a href="/userorders">Orders</a></li>
            <li><a href="/wallet">Wallet</a></li>
          </ul>
        </div>
      </div>

      <!-- Content -->
      <div class="col-lg-9 col-md-8" style="margin-top: 50px">
        <div class="account-content">
          <!-- Account Details Section -->
          <section id="account-details" class="account-section">
            <h2>Account Details</h2>
            <div>
              <div id="user-details-edit">
                <form
                  id="edit-address-form"
                  action="/editAddress/<%= address._id %>"
                  method="post"
                >
                  <input
                    type="text"
                    value="<%= address.addressLine1 %>"
                    id="addressLine1"
                    name="addressLine1"
                    onkeyup="validateLine1()"
                  /><br />
                  <span
                    id="line1-error"
                    style="font-size: 14px; margin-top: -20px"
                  ></span
                  ><br />
                  <input
                    type="text"
                    value="<%= address.addressLine2 %>"
                    id="addressLine2"
                    name="addressLine2"
                    onkeyup="validateLine2()"
                  /><br />
                  <span
                    id="line2-error"
                    style="font-size: 14px; margin-top: -20px"
                  ></span
                  ><br />
                  <input
                    type="text"
                    value="<%= address.city %>"
                    id="city"
                    name="city"
                    onkeyup="validateCity()"
                  /><br />
                  <span
                    id="city-error"
                    style="font-size: 14px; margin-top: -20px"
                  ></span
                  ><br />
                  <input
                    type="text"
                    value="<%= address.state %>"
                    id="state"
                    name="state"
                    onkeyup="validateState()"
                  /><br />
                  <span
                    id="state-error"
                    style="font-size: 14px; margin-top: -20px"
                  ></span
                  ><br />
                  <input
                    type="text"
                    value="<%= address.postalCode %>"
                    id="postalCode"
                    name="postalCode"
                    onkeyup="validatePost()"
                  /><br />
                  <span
                    id="postalcode-error"
                    style="font-size: 14px; margin-top: -20px"
                  ></span
                  ><br />
                  <input
                    type="text"
                    value="<%= address.country %>"
                    id="country"
                    name="country"
                    onkeyup="validateCountry()"
                  /><br />
                  <span
                    id="country-error"
                    style="font-size: 14px; margin-top: -20px"
                  ></span
                  ><br />
                  <button
                    type="submit"
                    class="btn"
                    style="background-color: #1f4959; color: white"
                    onclick="return validateForm()"
                  >
                    Save Changes
                  </button>
                  <span id="submit-error" style="font-size: 14px"></span>
                </form>
              </div>
            </div>
          </section>
          <!-- Account Details Section End -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- User Account Section End -->
<footer class="footer">
  <div class="container">
      <div class="row ">
          <div class="col-lg-5 col-md-6 col-sm-6">
              <div class="footer__about">
                  <p>Welcome to Football Arena - Your ultimate destination for football accessories.</p>
                  <p>Explore our wide range of products designed to enhance your football experience.</p>
              </div>
          </div>
          <div class="col-lg-4 col-md-3 col-sm-6">
              <div class="footer__widget text-center">
                  <h6>Categories</h6>
                  <ul>
                      <li><a href="/shop?category=65caf7b9bf2342cd4013027c">Footballs</a></li>
                      <li><a href="/shop?category=65caf7d5bf2342cd40130283">Jerseys</a></li>
                      <li><a href="/shop?category=65caf7e8bf2342cd40130288">Boots</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6">
              <div class="footer__widget text-center">
                  <h6>Brands</h6>
                  <ul>
                      <li><a href="/shop?brand=65d5a0145c27cadfa6ab83fa">Nike</a></li>
                      <li><a href="/shop?brand=65d5a1bb738b83d0c844e1a5">Adidas</a></li>
                      <li><a href="/shop?brand=65d5a60490137d5c6c24d393">Puma</a></li>
                  </ul>
              </div>
          </div>
       
      </div>
      <div class="row">
          <div class="col-lg-12 text-center">
              <div class="footer__copyright__text">
                  <p>&copy; 2024 Football Arena. All rights reserved.</p>
              </div>
          </div>
      </div>
  </div>
</footer>
<script>
  var line1Error = document.getElementById("line1-error");
  var line2Error = document.getElementById("line2-error");
  var cityError = document.getElementById("city-error");
  var stateError = document.getElementById("state-error");
  var postalcodeError = document.getElementById("postalcode-error");
  var countryError = document.getElementById("country-error");
  var submitError = document.getElementById("submit-error");

  function validateLine1() {
    var name = document.getElementById("addressLine1").value.trim();
    if (name.length === 0) {
      line1Error.innerHTML = "This field is required";
      line1Error.style.color = "red";
      return false;
    }
    line1Error.innerHTML = "Valid";
    line1Error.style.color = "green";
    return true;
  }
  function validateLine2() {
    var name = document.getElementById("addressLine2").value.trim();
    if (name.length === 0) {
      line2Error.innerHTML = "This field is required";
      line2Error.style.color = "red";
      return false;
    }
    line2Error.innerHTML = "Valid";
    line2Error.style.color = "green";
    return true;
  }
  function validateCity() {
    var name = document.getElementById("city").value.trim();
    if (!/^[a-zA-Z]+$/.test(name)) {
      cityError.innerHTML = "City name should contain only alphabets";
      cityError.style.color = "red";
      return false;
    }
    cityError.innerHTML = "Valid";
    cityError.style.color = "green";
    return true;
  }
  function validateState() {
    var name = document.getElementById("state").value.trim();
    if (!/^[a-zA-Z]+$/.test(name)) {
      stateError.innerHTML = "State name should contain only alphabets";
      stateError.style.color = "red";
      return false;
    }
    stateError.innerHTML = "Valid";
    stateError.style.color = "green";
    return true;
  }
  function validatePost() {
    var name = document.getElementById("postalCode").value.trim();
    if (name.length === 0 || isNaN(name) || parseFloat(name) <= 0) {
      postalcodeError.innerHTML = "This field is required and must be a number";
      postalcodeError.style.color = "red";
      return false;
    }
    postalcodeError.innerHTML = "Valid";
    postalcodeError.style.color = "green";
    return true;
  }

  function validateCountry() {
    var name = document.getElementById("country").value.trim();
    if (!/^[a-zA-Z]+$/.test(name)) {
      countryError.innerHTML = "Country name should contain only alphabets";
      countryError.style.color = "red";
      return false;
    }
    countryError.innerHTML = "Valid";
    countryError.style.color = "green";
    return true;
  }
  function validateForm() {
    if (
      !validateLine1() ||
      !validateLine2() ||
      !validateCity() ||
      !validateState() ||
      !validatePost() ||
      !validateCountry()
    ) {
      submitError.style.display = "block";
      submitError.innerHTML =
        "Please enter all the fields correctly to submit ";
      submitError.style.color = "red";
      setTimeout(function () {
        submitError.style.display = "none";
      }, 3000);
      return false;
    }
  }
</script>

<%- include('userfooter') %>
