<%- include('userheader') %>
<!-- Hero Section Begin -->

<div class="container-fluid gx-0" style="background-color: #232323">
  <div class="content-home">
    <div class="row content-home2">
      <div class="col-lg-6 col-md-6">
        <img
          src="/static//img/2150887424.jpg"
          class="img-home"
          alt="headphone"
        />
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="box-container2">
          <h1 class="home-heading">
            Your Premier Destination for
            <span class="home-span">Football Accessories</span>
          </h1>

          <div class="btn-home">
            <a href="/shop" class="home-links">Buy Now</a>
            <a href="/shop" class="home-links btn-2">Explore</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Hero Section End -->

<!-- Banner Section Begin -->
<section class="banner spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 offset-lg-4">
        <div class="banner__item">
          <div class="banner__item__pic">
            <img
              src="/static/img/Real_away_2.webp"
              alt=""
              style="width: 380px; height: 400px"
            />
          </div>
          <div class="banner__item__text">
            <h2>Football Jerseys</h2>
            <a href="/shop">Shop now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="banner__item banner__item--middle">
          <div class="banner__item__pic">
            <img
              src="/static/img/NM_0.png"
              alt=""
              style="width: 400px; height: 420px"
            />
          </div>
          <div class="banner__item__text">
            <h2>Football Boots</h2>
            <a href="/shop">Shop now</a>
          </div>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="banner__item banner__item--last">
          <div class="banner__item__pic">
            <img
              src="/static/img/f4_0.png"
              alt=""
              style="width: 390px; height: 420px"
            />
          </div>
          <div class="banner__item__text">
            <h2>Footballs</h2>
            <a href="/shop">Shop now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Banner Section End -->

<!-- Product Section Begin -->
<section class="product spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="filter__controls">
          <li class="active" data-filter="*">Best Sellers</li>
          <li data-filter=".new-arrivals">New Arrivals</li>
          <li data-filter=".hot-sales">Hot Sales</li>
        </ul>
      </div>
    </div>
    <div class="row product__filter">
      <% products.forEach(product => { %> <% let categoryClass = ''; %> <% if
      (product.isBestSeller) { categoryClass = 'best-sellers'; } else if
      (product.isNewArrival) { categoryClass = 'new-arrivals'; } else if
      (product.isHotSale) { categoryClass = 'hot-sales'; } %>

      <div
        class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix <%= categoryClass %>"
      >
        <div class="product__item">
          <div class="product__item__pic set-bg">
            <img
              src="/static/<%= product.images[0]     %>"
              alt=""
              style="width: 240px; height: 250px"
            />

            <!-- <ul class="product__hover">
              <li>
                <a href="#"><img src="/static/img/heart.png" alt="" /></a>
              </li>
            </ul> -->
          </div>
          <div class="product__item__text">
            <h6><%= product.productTitle %></h6>
            <a href="#" class="add-cart" onclick="addcart('<%= product._id %>')"
              >+ Add To Cart</a
            >
            <a href="/productdetails/<%= product._id %>" class="view-details"
              >+ View Details</a
            >
           
            <h5>Rs <%= product.price %></h5>
          </div>
        </div>
      </div>
      <% }); %>
    </div>
  </div>
</section>

<!-- Product Section End -->

<!-- Categories Section Begin -->
<section class="categories spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="categories__text">
          <h2>
            Performance<br />
            <span>Traction</span> <br />Comfort
          </h2>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="categories__hot__deal">
          <img src="/static/img/NP_0.png" alt="" />
          <div class="hot__deal__sticker">
            <span>Sale Of</span>
            <h5>Rs 2300</h5>
          </div>
        </div>
      </div>
      <div class="col-lg-4 offset-lg-1">
        <div class="categories__deal__countdown">
          <span>Deal Of The Week</span>
          <h2>Nike Phantom Luna 2 Elite Boots</h2>
          <div class="categories__deal__countdown__timer" id="countdown">
            <div class="cd-item">
              <span>3</span>
              <p>Days</p>
            </div>
            <div class="cd-item">
              <span>1</span>
              <p>Hours</p>
            </div>
            <div class="cd-item">
              <span>50</span>
              <p>Minutes</p>
            </div>
            <div class="cd-item">
              <span>18</span>
              <p>Seconds</p>
            </div>
          </div>
          <a href="#" class="primary-btn">Shop now</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Categories Section End -->

<!-- Footer Section Begin -->
<footer class="footer">
  <div class="container">
      <div class="row ">
          <div class="col-lg-5 col-md-6 col-sm-6">
              <div class="footer__about">
                  <p>Welcome to Football Arena - Your ultimate destination for football accessories.</p>
                  <p>Explore our wide range of products designed to enhance your football experience.</p>
              </div>
          </div>
          <div class="col-lg-4 col-md-3 col-sm-6">
              <div class="footer__widget text-center">
                  <h6>Categories</h6>
                  <ul>
                      <li><a href="/shop?category=65caf7b9bf2342cd4013027c">Footballs</a></li>
                      <li><a href="/shop?category=65caf7d5bf2342cd40130283">Jerseys</a></li>
                      <li><a href="/shop?category=65caf7e8bf2342cd40130288">Boots</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6">
              <div class="footer__widget text-center">
                  <h6>Brands</h6>
                  <ul>
                      <li><a href="/shop?brand=65d5a0145c27cadfa6ab83fa">Nike</a></li>
                      <li><a href="/shop?brand=65d5a1bb738b83d0c844e1a5">Adidas</a></li>
                      <li><a href="/shop?brand=65d5a60490137d5c6c24d393">Puma</a></li>
                  </ul>
              </div>
          </div>
       
      </div>
      <div class="row">
          <div class="col-lg-12 text-center">
              <div class="footer__copyright__text">
                  <p>&copy; 2024 Football Arena. All rights reserved.</p>
              </div>
          </div>
      </div>
  </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
 function addcart(_id) {
    event.preventDefault();
    $.ajax({
        url: `/check-stock/${_id}`,
        type: "GET",
        success: function(response) {
            console.log(response);
            if (response.success) {
                Swal.fire({
                    icon: "success",
                    title: "Added to cart successfully!",
                    showConfirmButton: true,
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: `/add-to-cart/${_id}`,
                            type: "GET",
                            success: function(response) {
                                console.log("Item added to cart:", response);
                            },
                            error: function() {
                                console.error("Failed to add item to cart");
                            },
                        });
                    }
                });
            } else {
                if (response.message === "Please log in to add items to your cart.") {
                    Swal.fire({
                        icon: "error",
                        title: "Login Required",
                        text: "Please login to add items to your cart.",
                        showConfirmButton: true,
                    })
                } else {
                    Swal.fire({
                        icon: "error",
                        title: "Product is out of stock",
                        showConfirmButton: true,
                    });
                }
            }
        },
        error: function() {
            Swal.fire({
                icon: "error",
                title: "Error occurred",
                text: "Failed to check stock availability",
                showConfirmButton: true,
            });
        },
    });
}


</script>

<%- include('userfooter') %>
