<!-- Razorpay Checkout Page -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Razorpay Checkout</title>
    <!-- Include Razorpay SDK -->
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</head>
<body>
    <h1>Razorpay Checkout Page</h1>
    <form id="checkoutForm" action="/place-order" method="post">
      <% if (userAddress) { %>
        <input type="hidden" name="addressID" value="<%= userAddress._id %>">
    <% } %>
    
    <input type="hidden" name="cartItems" value="<%= JSON.stringify(cartItems) %>">
    <input type="hidden" id="totalPrice" name="totalPrice" value="<%= totalPrice %>">
    <input type="hidden" id="paymentMethod" name="paymentMethod" value="Razorpay">
      <button type="button" id="rzp-button" onclick="initiateRazorpayPayment()">Pay with Razorpay</button>
  </form>
   




    <script>
        
        function initiateRazorpayPayment() {
          const user = {
                name: "<%= user.name %>",
                email: "<%= user.email %>",
                phone: "<%= user.phone %>"
            };
            
            const totalPriceInput = document.getElementById('totalPrice');
        const totalPrice = totalPriceInput ? parseInt(totalPriceInput.value) : 0;

         
            var options = {
                key: "rzp_test_PkGwc5wn6qCei0", 
                amount: totalPrice * 100, 
                currency: 'INR',
                name: 'Your Company Name',
                description: 'Purchase Description',
                image: 'https://example.com/logo.png', 
                handler: function (response) {
                  
                  document.getElementById("checkoutForm").submit();
                  
                },
                
                prefill: {
                  name: user.name,
                  email: user.email,
                  contact: user.phone
                },
                theme: {
                    color: '#3399cc'
                }
            };
            var rzp = new Razorpay(options);
            rzp.open();
        }

        
        document.getElementById('rzp-button').addEventListener('click', function () {
            initiateRazorpayPayment();
        });
    </script>
</body>
</html>
