<%- include('userheader') %>
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumb__text">
          <h4>Shop</h4>
          <div class="breadcrumb__links">
            <a href="/">Home</a>
            <span>Shop</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Shop Section Begin -->
<section class="shop spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="shop__sidebar">
          <div class="shop__sidebar__search"></div>
          <div class="shop__sidebar__accordion">
            <div class="accordion" id="accordionExample">
              <div class="card">
                <div class="card-heading">
                  <a data-toggle="collapse" data-target="#collapseOne"
                    >Categories</a
                  >
                </div>
                <div
                  id="collapseOne"
                  class="collapse show"
                  data-parent="#accordionExample"
                >
                  <div class="card-body">
                    <div class="shop__sidebar__categories">
                      <ul class="nice-scroll">
                        <% categories.forEach(category => { %>
                        <li><a href="/shop?category=<%= category._id %>"><%= category.category %></a></li>
                        <% }); %>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-heading">
                  <a data-toggle="collapse" data-target="#collapseTwo"
                    >Branding</a
                  >
                </div>
                <div
                  id="collapseTwo"
                  class="collapse show"
                  data-parent="#accordionExample"
                >
                  <div class="card-body">
                    <div class="shop__sidebar__brand">
                      <ul>
                        <% brands.forEach(brand => { %>
                        <li><a href="/shop?brand=<%= brand._id %>"><%= brand.brand %></a></li>
                        <% }); %>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
           
             
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="shop__product__option">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="shop__product__option__left">
                <p>
                  Showing 1–<%= products.length %> of <%= products.length %>
                  results
                </p>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="shop__product__option__right">
                <p>Sort by Price:</p>
                <select id="sortSelect" onchange="sortProducts()">
                  <option value="">Select</option>
                  <option value="price">Low To High</option>
                  <option value="price-desc">High To Low</option>
                </select>
              </div>
              
              
            </div>
            
          </div>
        </div>
        <div class="row">
          <% products.forEach(product => { %>
          <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="product__item">
              <div class="product__item__pic set-bg">
                <img
                  src="/static/<%= product.images[0] %>"
                  alt=""
                  height="270px"
                  width="260px"
                />
                
              </div>
              <div class="product__item__text">
                <h6><%= product.productTitle %></h6>
                <% if (product.stock==0) { %>
                 <p style="color: red;">Out of stock</p>
                <% }else{ %>
                <a
                  href="#"
                  class="add-cart"
                  onclick="addcart('<%= product._id %>')"
                  >+ Add To Cart</a
                >
                <a
                  href="/productdetails/<%= product._id %>"
                  class="view-details"
                  >+ View Details</a
                >
                  <% } %>
                <h5>Rs <%= product.price %></h5>
                
              </div>
            </div>
          </div>
          <% }); %>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="pagination-area mt-30 mb-50">
              <div class="d-flex justify-content-center">
                <nav aria-label="Page navigation example">
                  <ul class="pagination justify-content-start">
                    <% for(let i = 1; i <= totalPages; i++) { %>
                    <li
                      class="page-item <%= currentPage == i ? 'active' : '' %>"
                    >
                      <a class="page-link" href="/shop?page=<%= i %>"
                        ><%= i %></a
                      >
                    </li>
                    <% } %>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Shop Section End -->

<!-- Footer Section Begin -->
<footer class="footer">
  <div class="container">
      <div class="row ">
          <div class="col-lg-5 col-md-6 col-sm-6">
              <div class="footer__about">
                  <p>Welcome to Football Arena - Your ultimate destination for football accessories.</p>
                  <p>Explore our wide range of products designed to enhance your football experience.</p>
              </div>
          </div>
          <div class="col-lg-4 col-md-3 col-sm-6">
              <div class="footer__widget text-center">
                  <h6>Categories</h6>
                  <ul>
                      <li><a href="/shop?category=65caf7b9bf2342cd4013027c">Footballs</a></li>
                      <li><a href="/shop?category=65caf7d5bf2342cd40130283">Jerseys</a></li>
                      <li><a href="/shop?category=65caf7e8bf2342cd40130288">Boots</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6">
              <div class="footer__widget text-center">
                  <h6>Brands</h6>
                  <ul>
                      <li><a href="/shop?brand=65d5a0145c27cadfa6ab83fa">Nike</a></li>
                      <li><a href="/shop?brand=65d5a1bb738b83d0c844e1a5">Adidas</a></li>
                      <li><a href="/shop?brand=65d5a60490137d5c6c24d393">Puma</a></li>
                  </ul>
              </div>
          </div>
       
      </div>
      <div class="row">
          <div class="col-lg-12 text-center">
              <div class="footer__copyright__text">
                  <p>&copy; 2024 Football Arena. All rights reserved.</p>
              </div>
          </div>
      </div>
  </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  async function sortProducts() {
    const sortValue = document.getElementById('sortSelect').value;
    const urlParams = new URLSearchParams(window.location.search);
    const category = urlParams.get('category') || ''; 
    const brand = urlParams.get('brand') || ''; 
    const currentPage = urlParams.get('page') || 1; 
    const url = `/shop?page=${currentPage}&sort=${sortValue}&category=${category}&brand=${brand}`; 
    try {
      const response = await fetch(url, {
        method: 'GET',
      });
      const htmlContent = await response.text(); 
      document.body.innerHTML = htmlContent; 
    } catch (error) {
      console.error('Error sorting products:', error);
    }
  }
</script>


<script>
 function addcart(_id) {
    event.preventDefault();
    $.ajax({
        url: `/check-stock/${_id}`,
        type: "GET",
        success: function(response) {
            console.log(response);
            if (response.success) {
                Swal.fire({
                    icon: "success",
                    title: "Added to cart successfully!",
                    showConfirmButton: true,
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: `/add-to-cart/${_id}`,
                            type: "GET",
                            success: function(response) {
                                console.log("Item added to cart:", response);
                            },
                            error: function() {
                                console.error("Failed to add item to cart");
                            },
                        });
                    }
                });
            } else {
                if (response.message === "Please log in to add items to your cart.") {
                    Swal.fire({
                        icon: "error",
                        title: "Login Required",
                        text: "Please login to add items to your cart.",
                        showConfirmButton: true,
                    })
                } else {
                    Swal.fire({
                        icon: "error",
                        title: "Product is out of stock",
                        showConfirmButton: true,
                    });
                }
            }
        },
        error: function() {
            Swal.fire({
                icon: "error",
                title: "Error occurred",
                text: "Failed to check stock availability",
                showConfirmButton: true,
            });
        },
    });
}


</script>

<%- include('userfooter') %>
