<%- include('userheader') %>
<style>
  .btn.btn-md {
    padding: 0.5rem 0.95rem;
    font-weight: 500;
    background-color: #088178;
    color: #ffffff;
  }

  .btn.btn-md {
    padding: 0.5rem 0.95rem;
    font-weight: 500;
    background-color: #088178;
    color: #ffffff;
  }

  .progress {
    height: 25px;
    margin-bottom: 20px;
  }

  .progress-bar {
    background-color: #088178;
  }
</style>

<section class="user-account spad">
  <div class="container-fluid">
    <div class="row">
      <!-- Sidebar -->
      <div class="col-lg-3 col-md-4">
        <div class="account-sidebar text-center">
          <div class="sidebar-header">
            <h4>User Account</h4>
          </div>
          <ul class="account-menu">
            <li><a href="/useraccount">Account Details</a></li>
            <li class="active"><a href="/useraddress">Addresses</a></li>
            <li><a href="/userorders">Orders</a></li>
            <li><a href="/wallet">Wallet</a></li>
          </ul>
        </div>
      </div>

      <!-- Content -->
      <div class="col-lg-9 col-md-8" style="margin-top: 50px">
        <section id="user-address" class="account-section">
          <!-- Orders List Section -->

          <h2><b>Order Details</b></h2>
          <div class="progress">
            <div
              class="progress-bar"
              role="progressbar"
              style="
                width: <%= progressPercentage %>%;
                background-color: <%= progressColor %>;
              "
              aria-valuenow="<%= progressPercentage %>"
              aria-valuemin="0"
              aria-valuemax="100"
            >
              Order <%= order.status %>
            </div>
          </div>
          <div
            class="mb-4"
            style="display: flex; justify-content: space-evenly"
          >
            <div class="text">
              <h6 class="mb-1"><b>Customer</b></h6>
              <p class="mb-1">
                <%= order.billingDetails.name %> <br />
                <%= order.billingDetails.email %> <br />
                <%= order.billingDetails.phone %>
              </p>
            </div>
            <div class="text">
              <h6 class="mb-1"><b>Shipping Address</b></h6>
              <p class="mb-1">
                City: <%= order.billingDetails.city %> <br />
                Address: <%= order.billingDetails.addressLine1 %> <br />
                Postal Code: <%= order.billingDetails.postalCode %> <br />
                Country: <%= order.billingDetails.country %>
              </p>
            </div>
            <div class="text">
              <h6><b>Payment info</b></h6>
              <p><%= order.paymentMethod %></p>
            </div>
          </div>
          <div class="table-responsive text-center">
            <table class="table">
              <thead>
                <tr>
                  <th width="40%">Product</th>
                  <th width="20%">Unit Price</th>
                  <th width="20%">Quantity</th>
                  <th width="20%" class="text-end">Total</th>
                </tr>
              </thead>
              <tbody>
                <% order.items.forEach(item => { %>
                <tr>
                  <td>
                    <div class="left">
                      <img
                        src="/static/<%= item.product.images[0] %>"
                        width="40"
                        height="40"
                        class="img-xs"
                        alt="Item"
                      /><br />
                      <%= item.product.productTitle %>
                    </div>
                  </td>
                  <td><%= item.price %></td>
                  <td><%= item.quantity %></td>

                  <td class="text-end"><%= item.price * item.quantity %></td>
                </tr>
                <% }); %>
              </tbody>
            </table>
          </div>
          <div  style="background-color: rgb(157, 183, 183); height: 100PX; display: flex; align-items: center; justify-content: center;">
            <span style="font-size: 20px;"> SUB TOTAL : Product Amount + Delivery Charge(100):  Rs <%= order.totalPrice.toFixed(2) %></span>
           
          </div>
          <div style="text-align: center; margin-top: 20px;">
            <a href="/downloadinvoice/<%= order.id %>" class="btn btn-md">Download Invoice</a>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>

<%- include('userfooter') %>
