<%- include('userheader') %>
<!-- User Account Section Begin -->
<section class="user-account spad">
  <div class="container-fluid">
    <div class="row">
      <!-- Sidebar -->
      <div class="col-lg-3 col-md-4">
        <div class="account-sidebar text-center">
          <div class="sidebar-header">
            <h4>User Account</h4>
          </div>
          <ul class="account-menu">
            <li class="active"><a href="/useraccount">Account Details</a></li>
            <li><a href="/useraddress">Addresses</a></li>
            <li><a href="/userorders">Orders</a></li>
            <li><a href="/wallet">Wallet</a></li>
          </ul>
        </div>
      </div>

      <!-- Content -->
      <div class="col-lg-9 col-md-8 mt-5">
        <div class="account-content">
          <!-- Account Details Section -->

          <section id="account-details" class="account-section">
            <div style="display: flex; justify-content: space-between">
              <h2><b>Wallet</b></h2>
              <form id="walletForm">
                <div class="d-flex align-items-center">
                  <input
                    type="text"
                    class="form-control mr-2 me-1"
                    id="amountInput"
                    placeholder="Enter amount"
                  />
                  <button
                    id="addButton"
                    class="btn btn-primary"
                    type="button"
                    onclick="addAmount()"
                  >
                    Add
                  </button>
                </div>
                <small class="text-danger ms-3" id="error"></small>
              </form>
            </div>

            <div>
              <div>
                <p>Name: <%= wallet.userId.name %></p>
                <p>Balance: <%= wallet.balance %></p>
              </div>
            </div>
          </section>
          <!-- Account Details Section End -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- User Account Section End -->
<footer class="footer">
  <div class="container">
      <div class="row ">
          <div class="col-lg-5 col-md-6 col-sm-6">
              <div class="footer__about">
                  <p>Welcome to Football Arena - Your ultimate destination for football accessories.</p>
                  <p>Explore our wide range of products designed to enhance your football experience.</p>
              </div>
          </div>
          <div class="col-lg-4 col-md-3 col-sm-6">
              <div class="footer__widget text-center">
                  <h6>Categories</h6>
                  <ul>
                      <li><a href="/shop?category=65caf7b9bf2342cd4013027c">Footballs</a></li>
                      <li><a href="/shop?category=65caf7d5bf2342cd40130283">Jerseys</a></li>
                      <li><a href="/shop?category=65caf7e8bf2342cd40130288">Boots</a></li>
                  </ul>
              </div>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-6">
              <div class="footer__widget text-center">
                  <h6>Brands</h6>
                  <ul>
                      <li><a href="/shop?brand=65d5a0145c27cadfa6ab83fa">Nike</a></li>
                      <li><a href="/shop?brand=65d5a1bb738b83d0c844e1a5">Adidas</a></li>
                      <li><a href="/shop?brand=65d5a60490137d5c6c24d393">Puma</a></li>
                  </ul>
              </div>
          </div>
       
      </div>
      <div class="row">
          <div class="col-lg-12 text-center">
              <div class="footer__copyright__text">
                  <p>&copy; 2024 Football Arena. All rights reserved.</p>
              </div>
          </div>
      </div>
  </div>
</footer>
<script>
  function addAmount() {
    const amountInput = document.getElementById("amountInput");
    const amount = amountInput.value.trim(); 

    const amountRegex = /^\d*\.?\d+$/;

    if (amount === "" || !amountRegex.test(amount)) {
      document.getElementById("error").innerText = "Enter a valid number";
      return; 
    }

    document.getElementById("error").innerText = "";

    initiateRazorpayPayment(amount);
  }

  function initiateRazorpayPayment(amount) {
    const user = {
      name: "<%= user.name %>",
      email: "<%= user.email %>",
      phone: "<%= user.phone %>",
    };

    var options = {
      key: "rzp_test_PkGwc5wn6qCei0",
      amount: parseFloat(amount) * 100,
      currency: "INR",
      name: "f-wear",
      description: "Adding amount to wallet",
      image: "https://example.com/logo.png",
      handler: function (response) {
        fetch("/addAmount", {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ amount }),
        })
          .then((response) => response.json())
          .then((data) => {
            Swal.fire({
              title: "Amount added",
              icon: "success",
              showConfirmButton: false,
            });
            setTimeout(() => {
              window.location.href = "/wallet";
            }, 2000);
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      },

      prefill: {
        name: user.name,
        email: user.email,
        contact: user.phone,
      },
      theme: {
        color: "#3399cc",
      },
    };

    var rzp = new Razorpay(options);
    rzp.open();
  }
</script>
<%- include('userfooter') %>
