<%- include('adminheader') %>

<body>
  <div class="screen-overlay"></div>
  <aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
      <a href="index.html" class="brand-wrap">
        <p style="font-size: 20px; font-weight: bold">Admin</p>
      </a>
      <div>
        <button class="btn btn-icon btn-aside-minimize">
          <i class="text-muted material-icons md-menu_open"></i>
        </button>
      </div>
    </div>
    <nav>
      <ul class="menu-aside">
        <li class="menu-item">
          <a class="menu-link" href="/dashboard">
            <i class="icon material-icons md-home"></i>
            <span class="text">Dashboard</span>
          </a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="/userlist">
            <i class="icon material-icons md-person"></i>
            <span class="text">Users</span>
          </a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="/productlist">
            <i class="icon material-icons md-shopping_bag"></i>
            <span class="text">Products</span>
          </a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="/categories">
            <i class="icon material-icons md-store"></i>
            <span class="text">Categories</span>
          </a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="/brands">
            <i class="icon material-icons md-store"></i>
            <span class="text">Brands</span>
          </a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="/orders">
            <i class="icon material-icons md-store"></i>
            <span class="text">Orders</span>
          </a>
        </li>
        <li class="menu-item active">
          <a class="menu-link" href="/coupons">
            <i class="icon material-icons md-store"></i>
            <span class="text">Coupons</span>
          </a>
        </li>
        <li class="menu-item has-submenu">
          <a class="menu-link" href="page-orders-1.html">
            <i class="icon material-icons md-star"></i>
            <span class="text">Best Selling</span>
          </a>
          <div class="submenu">
            <a href="/bestproducts">Products</a>
            <a href="/bestcategories">Categories</a>
            <a href="/bestbrands">Brands</a>
          </div>
        </li>
      </ul>
    </nav>
  </aside>
  <main class="main-wrap">
    <header class="main-header navbar">
      <div class="col-search"></div>
      <div class="col-nav">
        <ul class="nav">
          <li class="nav-item"></li>
          <li class="nav-item">
            <a class="nav-link btn-icon darkmode" href="#">
              <i class="material-icons md-nights_stay"></i>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="requestfullscreen nav-link btn-icon"
              ><i class="material-icons md-cast"></i
            ></a>
          </li>
          <li class="dropdown nav-item"></li>
          <li class="nav-item">
            <a class="dropdown-item text-danger" href="/adminlogout"
              ><i class="material-icons md-exit_to_app"></i>Logout</a
            >
          </li>
        </ul>
      </div>
    </header>
    <section class="content-main">
      <div class="content-header">
        <h2 class="content-title">Coupons</h2>
        <div>
          <a href="/addcoupons" class="btn btn-primary"
            ><i class="material-icons md-plus"></i> Create new</a
          >
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-body">
          <div class="table-responsive">
            <% if (coupons != '') { %>
            <table class="table table-striped text-center">
              <thead>
                <tr class="table-dark">
                  <th>ID</th>
                  <th>Coupon Code</th>
                  <th>Description</th>
                  <th>Expire Date</th>
                  <th>Status</th>
                  <th>Action</th>
                  <th>Edit</th>
                </tr>
              </thead>
              <tbody>
                <% coupons.forEach((row,index) => { %>
                <tr class="align-middle">
                  <td class="align-middle">
                    <%= (perPage * (currentPage - 1)) + index + 1 %>
                  </td>
                  <td><%= row.couponCode %></td>
                  <td><%= row.description %></td>
                  <td><%= new Date(row.expiryDate).toLocaleDateString() %></td>


                  <td>
                    <% if(row.isListed == false){ %>
                    <span class="text-danger">UnListed</span>
                    <% }else{ %>
                    <span class="text-success">Listed</span>
                    <% } %>
                  </td>
                  <td>
                    <% if (row.isListed==false) { %>
                    <a
                      href="#"
                      class="btn btn-sm font-sm rounded btn-brand"
                      onclick="confirmList('<%= row._id %>')"
                    >
                      <i class="material-icons md-edit"></i> List
                    </a>
                    <% } else { %>
                    <a
                      href="#"
                      class="btn btn-sm font-sm rounded btn-brand"
                      onclick="confirmUnlist('<%= row._id %>')"
                    >
                      <i class="material-icons md-edit"></i> UnList
                    </a>
                    <% } %>
                  </td>
                  <td>
                    <a
                      href="/editcoupons/<%= row._id %>"
                      class="btn btn-sm font-sm rounded btn-brand"
                    >
                      <i class="material-icons md-edit"></i> Edit
                    </a>
                  </td>
                </tr>
                <% }) %>
              </tbody>
            </table>
            <% }else{ %>
            <h1 class="text-center text-secondary mt-5">
              No coupons found in the database
            </h1>

            <% } %>
          </div>
        </div>
      </div>
      <div class="pagination-area mt-15 mb-50">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <% for(let i = 1; i <= totalPages; i++) { %>
            <li class="page-item <%= currentPage == i ? 'active' : '' %>">
              <a class="page-link" href="/userlist?page=<%= i %>"><%= i %></a>
            </li>
            <% } %>
          </ul>
        </nav>
      </div>
    </section>
  </main>
  <!-- content-main end// -->
  <script>
    function confirmList(couponId) {
      Swal.fire({
        title: "Are you sure?",
        text: "You want to list this coupon?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#d33",
        cancelButtonColor: "#3085d6",
        confirmButtonText: "Yes, list it!",
      }).then((result) => {
        if (result.isConfirmed) {
          window.location.href = "/listcoupon/" + couponId;
        }
      });
    }

    function confirmUnlist(couponId) {
      Swal.fire({
        title: "Are you sure?",
        text: "You want to unlist this coupon?",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#d33",
        cancelButtonColor: "#3085d6",
        confirmButtonText: "Yes, unlist it!",
      }).then((result) => {
        if (result.isConfirmed) {
          window.location.href = "/unlistcoupon/" + couponId;
        }
      });
    }
  </script>

  <%- include('adminfooter') %>
</body>
