<%- include('adminheader') %>
<body>
  <div class="screen-overlay"></div>
  <aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
      <a href="index.html" class="brand-wrap">
        <p style="font-size: 20px; font-weight: bold">Admin</p>
      </a>
      <div>
        <button class="btn btn-icon btn-aside-minimize">
          <i class="text-muted material-icons md-menu_open"></i>
        </button>
      </div>
    </div>
    <nav>
      <ul class="menu-aside">
        <li class="menu-item">
          <a class="menu-link" href="/dashboard">
            <i class="icon material-icons md-home"></i>
            <span class="text">Dashboard</span>
          </a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="/userlist">
            <i class="icon material-icons md-person"></i>
            <span class="text">Users</span>
          </a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="/productlist">
            <i class="icon material-icons md-shopping_bag"></i>
            <span class="text">Products</span>
          </a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="/categories">
            <i class="icon material-icons md-store"></i>
            <span class="text">Categories</span>
          </a>
        </li>
        <li class="menu-item active">
          <a class="menu-link" href="/brands">
            <i class="icon material-icons md-store"></i>
            <span class="text">Brands</span>
          </a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="/orders">
            <i class="icon material-icons md-store"></i>
            <span class="text">Orders</span>
          </a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="/coupons">
            <i class="icon material-icons md-store"></i>
            <span class="text">Coupons</span>
          </a>
        </li>
        <li class="menu-item has-submenu">
          <a class="menu-link" href="page-orders-1.html">
            <i class="icon material-icons md-star"></i>
            <span class="text">Best Selling</span>
          </a>
          <div class="submenu">
            <a href="/bestproducts">Products</a>
            <a href="/bestcategories">Categories</a>
            <a href="/bestbrands">Brands</a>
          </div>
        </li>
      </ul>
    </nav>
  </aside>
  <main class="main-wrap">
    <header class="main-header navbar">
      <div class="col-search"></div>
      <div class="col-nav">
        <ul class="nav">
          <li class="nav-item"></li>
          <li class="nav-item">
            <a class="nav-link btn-icon darkmode" href="#">
              <i class="material-icons md-nights_stay"></i>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="requestfullscreen nav-link btn-icon"
              ><i class="material-icons md-cast"></i
            ></a>
          </li>
          <li class="dropdown nav-item"></li>
          <li class="nav-item">
            <a class="dropdown-item text-danger" href="/adminlogout"
              ><i class="material-icons md-exit_to_app"></i>Logout</a
            >
          </li>
        </ul>
      </div>
    </header>
    <section class="content-main">
      <div class="content-header">
        <div>
          <h2 class="content-title card-title">Edit Brands</h2>
          <p>Edit a brand</p>
          <% if (locals.alert) { %>
          <div class="alert alert-danger text-center m-3" id="error">
            <%= locals.alert %>
          </div>
          <% } %>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="row" style="justify-content: center">
            <div class="col-md-3">
              <form action="/updatebrand/<%= brand._id  %>" method="post">
                <div class="mb-4">
                  <label for="product_name" class="form-label">Name</label>
                  <input
                    type="text"
                    placeholder="Type here"
                    name="brand"
                    value="<%= brand.brand %>"
                    class="form-control"
                    id="product_name"
                    onkeyup="validateName()"
                  />
                  <span
                    id="name-error"
                    style="font-size: 14px; margin-top: -20px"
                  ></span>
                </div>

                <div class="mb-4">
                  <label class="form-label">Description</label>
                  <textarea
                    placeholder="Type here"
                    name="description"
                    class="form-control"
                    onkeyup="validateDescription()"
                  >
                  <%= brand.description %></textarea
                  >
                  <span
                    id="description-error"
                    style="font-size: 14px; margin-top: -20px"
                  ></span>
                </div>
                <div class="d-grid">
                  <button
                    class="btn btn-primary"
                    onclick="return validateForm()"
                  >
                    Edit brand
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <script>
    var nameError = document.getElementById("name-error");
    var descriptionError = document.getElementById("description-error");
    var submitError = document.getElementById("submit-error");

    function validateName() {
      var name = document.getElementById("product_name").value.trim();
      if (name.length === 0) {
        nameError.innerHTML = "Product name is required";
        nameError.style.color = "red";
        return false;
      }
      nameError.innerHTML = "Valid";
      nameError.style.color = "green";
      return true;
    }
    function validateDescription() {
      var desc = document.getElementById("product_description").value.trim();
      if (desc.length === 0) {
        descriptionError.innerHTML = "Description is required";
        descriptionError.style.color = "red";
        return false;
      }
      descriptionError.innerHTML = "Valid";
      descriptionError.style.color = "green";
      return true;
    }
    function validateForm() {
      if (!validateName() || !validateDescription()) {
        submitError.style.display = "block";
        submitError.innerHTML = "Please enter all the fields to submit ";
        submitError.style.color = "red";
        setTimeout(function () {
          submitError.style.display = "none";
        }, 3000);
        return false;
      }
    }
  </script>
  <%- include('adminfooter') %>
</body>
