<%- include('adminheader') %>
<body>
  <div class="screen-overlay"></div>
  <aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
      <a href="index.html" class="brand-wrap">
        <p style="font-size: 20px; font-weight: bold">Admin</p>
      </a>
      <div>
        <button class="btn btn-icon btn-aside-minimize">
          <i class="text-muted material-icons md-menu_open"></i>
        </button>
      </div>
    </div>
    <nav>
      <ul class="menu-aside">
        <li class="menu-item">
          <a class="menu-link" href="/dashboard">
            <i class="icon material-icons md-home"></i>
            <span class="text">Dashboard</span>
          </a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="/userlist">
            <i class="icon material-icons md-person"></i>
            <span class="text">Users</span>
          </a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="/productlist">
            <i class="icon material-icons md-shopping_bag"></i>
            <span class="text">Products</span>
          </a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="/categories">
            <i class="icon material-icons md-store"></i>
            <span class="text">Categories</span>
          </a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="/brands">
            <i class="icon material-icons md-store"></i>
            <span class="text">Brands</span>
          </a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="/orders">
            <i class="icon material-icons md-store"></i>
            <span class="text">Orders</span>
          </a>
        </li>
        <li class="menu-item active">
          <a class="menu-link" href="/coupons">
            <i class="icon material-icons md-store"></i>
            <span class="text">Coupons</span>
          </a>
        </li>
        <li class="menu-item has-submenu">
          <a class="menu-link" href="page-orders-1.html">
            <i class="icon material-icons md-star"></i>
            <span class="text">Best Selling</span>
          </a>
          <div class="submenu">
            <a href="/bestproducts">Products</a>
            <a href="/bestcategories">Categories</a>
            <a href="/bestbrands">Brands</a>
          </div>
        </li>
      </ul>
    </nav>
  </aside>
  <main class="main-wrap">
    <header class="main-header navbar">
      <div class="col-search">
        <form class="searchform">
          <div class="input-group">
            <input
              list="search_terms"
              type="text"
              class="form-control"
              placeholder="Search term"
            />
            <button class="btn btn-light bg" type="button">
              <i class="material-icons md-search"></i>
            </button>
          </div>
          <datalist id="search_terms">
            <option value="Products"></option>
            <option value="New orders"></option>
            <option value="Apple iphone"></option>
            <option value="Ahmed Hassan"></option>
          </datalist>
        </form>
      </div>
      <div class="col-nav">
        <button
          class="btn btn-icon btn-mobile me-auto"
          data-trigger="#offcanvas_aside"
        >
          <i class="material-icons md-apps"></i>
        </button>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link btn-icon" href="#">
              <i class="material-icons md-notifications animation-shake"></i>
              <span class="badge rounded-pill">3</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn-icon darkmode" href="#">
              <i class="material-icons md-nights_stay"></i>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="requestfullscreen nav-link btn-icon"
              ><i class="material-icons md-cast"></i
            ></a>
          </li>
          <li class="dropdown nav-item">
            <a
              class="dropdown-toggle"
              data-bs-toggle="dropdown"
              href="#"
              id="dropdownLanguage"
              aria-expanded="false"
              ><i class="material-icons md-public"></i
            ></a>
            <div
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="dropdownLanguage"
            >
              <a class="dropdown-item text-brand" href="#"
                ><img
                  src="/static/assets/imgs/theme/flag-us.png"
                  alt="English"
                />English</a
              >
              <a class="dropdown-item" href="#"
                ><img
                  src="assets/imgs/theme/flag-fr.png"
                  alt="Français"
                />Français</a
              >
              <a class="dropdown-item" href="#"
                ><img
                  src="assets/imgs/theme/flag-jp.png"
                  alt="Français"
                />日本語</a
              >
              <a class="dropdown-item" href="#"
                ><img
                  src="assets/imgs/theme/flag-cn.png"
                  alt="Français"
                />中国人</a
              >
            </div>
          </li>
          <li class="dropdown nav-item">
            <a
              class="dropdown-toggle"
              data-bs-toggle="dropdown"
              href="#"
              id="dropdownAccount"
              aria-expanded="false"
            >
              <img
                class="img-xs rounded-circle"
                src="/static/assets/imgs/people/avatar2.jpg"
                alt="User"
            /></a>
            <div
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="dropdownAccount"
            >
              <a class="dropdown-item" href="#"
                ><i class="material-icons md-perm_identity"></i>Edit Profile</a
              >
              <a class="dropdown-item" href="#"
                ><i class="material-icons md-settings"></i>Account Settings</a
              >
              <a class="dropdown-item" href="#"
                ><i class="material-icons md-account_balance_wallet"></i
                >Wallet</a
              >
              <a class="dropdown-item" href="#"
                ><i class="material-icons md-receipt"></i>Billing</a
              >
              <a class="dropdown-item" href="#"
                ><i class="material-icons md-help_outline"></i>Help center</a
              >
              <div class="dropdown-divider"></div>
              <a class="dropdown-item text-danger" href="/adminlogout"
                ><i class="material-icons md-exit_to_app"></i>Logout</a
              >
            </div>
          </li>
        </ul>
      </div>
    </header>
    <section class="content-main">
      <div class="content-header">
        <div>
          <h2 class="content-title card-title">Edit Coupons</h2>
          <p>Edit a coupon</p>
          <% if (locals.alert) { %>
          <div class="alert alert-danger text-center m-3" id="error">
            <%= locals.alert %>
          </div>
          <% } %>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="row" style="justify-content: center">
            <div class="col-md-3">
              <form action="/updatecoupons/<%= coupon._id  %>" method="post">
                <div class="mb-4">
                  <label for="coupon_code" class="form-label"
                    >Coupon Code</label
                  >
                  <div class="input-group">
                    <input
                      type="text"
                      placeholder="Type here"
                      name="couponCode"
                      class="form-control"
                      id="coupon_code"
                      value="<%= coupon.couponCode %>"
                      onkeyup="validateCode()"
                    />
                    <button
                      class="btn btn-secondary"
                      type="button"
                      onclick="generateCouponCode()"
                    >
                      Generate
                    </button>
                  </div>
                  <span
                    id="couponCode-error"
                    style="font-size: 14px; margin-top: -20px"
                  ></span>
                </div>

                <div class="mb-4">
                  <label class="form-label">Description</label>
                  <textarea
                    placeholder="Type here"
                    name="description"
                    class="form-control"
                    id="coupon_description"
                    onkeyup="validateDescription()"
                  >
<%= coupon.description %></textarea
                  >
                  <span
                    id="description-error"
                    style="font-size: 14px; margin-top: -20px"
                  ></span>
                </div>

                <div class="mb-4">
                  <label for="discount_percentage" class="form-label"
                    >Discount Percentage</label
                  >
                  <input
                    type="number"
                    placeholder="Enter discount percentage"
                    name="discountPercentage"
                    class="form-control"
                    id="percentage"
                    value="<%= coupon.discountPercentage %>"
                    onkeyup="validatePrice()"
                  />
                  <span
                    id="price-error"
                    style="font-size: 14px; margin-top: -20px"
                  ></span>
                </div>

                <div class="mb-4">
                  <label for="max_discount_amount" class="form-label"
                    >Max Discount Amount</label
                  >
                  <input
                    type="number"
                    placeholder="Enter max discount amount"
                    name="maxDiscountAmount"
                    class="form-control"
                    id="max_amount"
                    value="<%= coupon.maxDiscountAmount %>"
                    onkeyup="validateMaxAmount()"
                  />
                  <span
                    id="max-amount-error"
                    style="font-size: 14px; margin-top: -20px"
                  ></span>
                </div>
                <div class="mb-4">
                  <label for="min_amount" class="form-label"
                    >Minimum Amount</label
                  >
                  <input
                    type="number"
                    placeholder="Enter minimum amount"
                    name="minAmount"
                    class="form-control"
                    id="min_amount"
                    value="<%= coupon.minAmount %>"
                    onkeyup="validateMinAmount()"
                  />
                  <span
                    id="min-amount-error"
                    style="font-size: 14px; margin-top: -20px"
                  ></span>
                </div>
                <div class="mb-4">
                  <label for="expiry_date" class="form-label"
                    >Expiry Date</label
                  >
                  <input
                    type="date"
                    name="expiry_date"
                    class="form-control"
                    id="expiry_date"
                    onchange="validateDate()"
                    value="<%= formatDate(coupon.expiryDate) %>"
                  />
                  <% function formatDate(date) { date = new Date(date); var year
                  = date.getFullYear(); var month = ('0' + (date.getMonth() +
                  1)).slice(-2); var day = ('0' + date.getDate()).slice(-2);
                  return year + '-' + month + '-' + day; } %>
                  <span
                    id="date-error"
                    style="font-size: 14px; margin-top: -20px; color: green"
                  ></span>
                </div>
                <div class="d-grid">
                  <button
                    class="btn btn-primary"
                    onclick="return validateForm()"
                  >
                    Edit coupon</button
                  ><br />
                  <span
                    id="submit-error"
                    style="font-size: 14px; margin-top: -20px"
                  ></span>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <script>
    var codeError = document.getElementById("code-error");
    var descriptionError = document.getElementById("description-error");
    var priceError = document.getElementById("price-error");
    var minAmountError = document.getElementById("min-amount-error");
    var maxAmountError = document.getElementById("max-amount-error");
    var submitError = document.getElementById("submit-error");

    function validateCode() {
      var uppercaseRegex = /^[A-Z0-9]+$/;
      var code = document.getElementById("coupon_code").value.trim();
      if (!uppercaseRegex.test(code)) {
        codeError.innerHTML =
          "Coupon code must contain only uppercase letters and numbers";
        codeError.style.color = "red";
        return false;
      }
      codeError.innerHTML = "Valid";
      codeError.style.color = "green";
      return true;
    }

    function validateDescription() {
      var desc = document.getElementById("coupon_description").value.trim();
      if (desc.length === 0) {
        descriptionError.innerHTML = "Description is required";
        descriptionError.style.color = "red";
        return false;
      }
      descriptionError.innerHTML = "Valid";
      descriptionError.style.color = "green";
      return true;
    }

    function validatePrice() {
      var price = document.getElementById("percentage").value.trim();
      if (
        price.length === 0 ||
        isNaN(price) ||
        parseFloat(price) <= 0 ||
        parseFloat(price) > 100
      ) {
        priceError.innerHTML = "Invalid entry";
        priceError.style.color = "red";
        return false;
      }
      priceError.innerHTML = "Valid";
      priceError.style.color = "green";
      return true;
    }

    function validateMinAmount() {
      var minAmount = document.getElementById("min_amount").value.trim();
      if (
        minAmount.length === 0 ||
        isNaN(minAmount) ||
        parseFloat(minAmount) < 0
      ) {
        minAmountError.innerHTML =
          "Minimum amount is required and must be a non-negative number";
        minAmountError.style.color = "red";
        return false;
      }
      minAmountError.innerHTML = "Valid";
      minAmountError.style.color = "green";
      return true;
    }

    function validateMaxAmount() {
      var maxAmount = document.getElementById("max_amount").value.trim();
      if (
        maxAmount.length === 0 ||
        isNaN(maxAmount) ||
        parseFloat(maxAmount) < 0
      ) {
        maxAmountError.innerHTML =
          "Maximum discount is required and must be a non-negative number";
        maxAmountError.style.color = "red";
        return false;
      }
      maxAmountError.innerHTML = "Valid";
      maxAmountError.style.color = "green";
      return true;
    }

    function validateDate() {
      var dateInput = document.getElementById("expiry_date").value;
      var currentDate = new Date();
      var selectedDate = new Date(dateInput);
      if (selectedDate <= currentDate) {
        document.getElementById("date-error").innerHTML =
          "Please select a future date";
        document.getElementById("date-error").style.color = "red";
        return false;
      } else {
        document.getElementById("date-error").innerHTML = "Valid";
        document.getElementById("date-error").style.color = "green";
        return true;
      }
    }

    function validateForm() {
      if (
        !validateCode() ||
        !validateDescription() ||
        !validatePrice() ||
        !validateMinAmount() ||
        !validateMaxAmount()
      ) {
        submitError.innerHTML =
          "Please enter all the fields correctly to submit";
        submitError.style.color = "red";
        return false;
      }
      return true;
    }
  </script>

  <script>
    function generateCouponCode() {
      var uppercaseCharacters = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
      var numbers = "0123456789";
      var characters = uppercaseCharacters + numbers;
      var couponCode = "";
      var length = 8;
      for (var i = 0; i < length; i++) {
        couponCode += characters.charAt(
          Math.floor(Math.random() * characters.length)
        );
      }

      document.getElementById("coupon_code").value = couponCode;
      validateCode();
    }
  </script>

  <%- include('adminfooter') %>
</body>
