<%- include('adminheader') %>

<body>
  <div class="screen-overlay"></div>
  <aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
      <a href="index.html" class="brand-wrap">
        <p style="font-size: 20px; font-weight: bold">Admin</p>
      </a>
      <div>
        <button class="btn btn-icon btn-aside-minimize">
          <i class="text-muted material-icons md-menu_open"></i>
        </button>
      </div>
    </div>
    <nav>
      <ul class="menu-aside">
        <li class="menu-item">
          <a class="menu-link" href="/dashboard">
            <i class="icon material-icons md-home"></i>
            <span class="text">Dashboard</span>
          </a>
        </li>
        <li class="menu-item ">
          <a class="menu-link" href="/userlist">
            <i class="icon material-icons md-person"></i>
            <span class="text">Users</span>
          </a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="/productlist">
            <i class="icon material-icons md-shopping_bag"></i>
            <span class="text">Products</span>
          </a>
        </li>
        <li class="menu-item">
          <a class="menu-link" href="/categories">
            <i class="icon material-icons md-store"></i>
            <span class="text">Categories</span>
          </a>
        </li>
        <li class="menu-item ">
          <a class="menu-link" href="/brands">
            <i class="icon material-icons md-store"></i>
            <span class="text">Brands</span>
          </a>
        </li>
        <li class="menu-item active">
          <a class="menu-link" href="/orders">
            <i class="icon material-icons md-store"></i>
            <span class="text">Orders</span>
          </a>
        </li>
        <li class="menu-item ">
          <a class="menu-link" href="/coupons">
            <i class="icon material-icons md-store"></i>
            <span class="text">Coupons</span>
          </a>
        </li>
        <li class="menu-item has-submenu ">
          <a class="menu-link" href="page-orders-1.html"> <i class="icon material-icons md-star"></i>
              <span class="text">Best Selling</span>
          </a>
          <div class="submenu">
              <a href="/bestproducts">Products</a>
              <a href="/bestcategories">Categories</a>
              <a href="/bestbrands">Brands</a>
            
          </div>
      </li>
      </ul>
    </nav>
  </aside>
  <main class="main-wrap">
    <header class="main-header navbar">
      <div class="col-search"></div>
      <div class="col-nav">
        <ul class="nav">
          <li class="nav-item"></li>
          <li class="nav-item">
            <a class="nav-link btn-icon darkmode" href="#">
              <i class="material-icons md-nights_stay"></i>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="requestfullscreen nav-link btn-icon"
              ><i class="material-icons md-cast"></i
            ></a>
          </li>
          <li class="dropdown nav-item"></li>
          <li class="nav-item">
            <a class="dropdown-item text-danger" href="/adminlogout"
              ><i class="material-icons md-exit_to_app"></i>Logout</a
            >
          </li>
        </ul>
      </div>
    </header>
    <section class="content-main">
      <div class="content-header">
        <h2 class="content-title">Orders</h2>
       
      </div>
      <div class="card mb-4">
        <div class="card-body">
          <div class="table-responsive">
            <% if (orders != '') { %>
            <table class="table table-striped text-center">
              <thead>
                <tr class="table-dark">
                  <th>#ID</th>
                  <th scope="col">Name</th>
                  <th scope="col">Payment Status</th>
                  <th scope="col">Total</th>
                  <th scope="col">Status</th>
                  <th scope="col">Date</th>
                  <th scope="col" class="text-end"> Action </th>
                </tr>
              </thead>
              <tbody>
                <% orders.forEach(order => { %>
                  <tr>
                      <td>ord_<%= order.trackingId %></td>
                      <td><%= order.billingDetails.name %></td>
                      <td><%= order.paymentStatus %></td>
                      
                      <td>Rs <%= order.totalPrice.toFixed(2) %></td>
                      
                      <td class="status-column  <%= order.status.toLowerCase() %>" style="font-weight:900 ;"><%= order.status %></td>
                      <td><%= order.orderDate.toDateString() %></td>
                      <td class="text-end">
                          <a href="/orderdetails/<%= order._id %>" class="btn btn-md rounded font-sm">Detail</a>

                       
                      </td>
                  </tr>
              <% }); %>
              </tbody>
            </table>
            <% }else{ %>
            <h1 class="text-center text-secondary mt-5">
              No Orders found in the database
            </h1>

            <% } %>
          </div>
        </div>
      </div>
      <div class="pagination-area mt-15 mb-50">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <% for(let i = 1; i <= totalPages; i++) { %>
              <li class="page-item <%= currentPage == i ? 'active' : '' %>">
                <a class="page-link" href="/orders?page=<%= i %>"><%= i %></a>
              </li>
            <% } %>
          </ul>
        </nav>
      </div>
    </section>
    <footer class="main-footer font-xs">
      <div class="row pb-30 pt-15">
          <div class="col-sm-6">
              <script>
              document.write(new Date().getFullYear())
              </script> ©, Evara - HTML Ecommerce Template .
          </div>
          <div class="col-sm-6">
              <div class="text-sm-end">
                  All rights reserved
              </div>
          </div>
      </div>
  </footer>
  </main>
    <!-- content-main end// -->
   

    <%- include('adminfooter') %>
 